<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">
    <test name="Nopackage">
        <classes>
            <class name="Test.Test1310"/>
        </classes>
    </test>


    <test name="Pamparam">

        <parameter name="iDoNotKnow" value="yes"/>
        <parameter name="iKnow" value="no"/>


        <classes>
            <class name="Test.Test1310"/>
        </classes>
    </test>
    <test name="EmailTest">
        <classes>
            <class name="Test.EmailTest">
            </class>
        </classes>
    </test>

</suite>